@config "../tailwind.config.js";
@import "tailwindcss";

@layer utilities {
  .glass-panel {
    background: rgba(19, 19, 19, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 172, 233, 0.1);
  }
  .text-gradient {
    background: linear-gradient(to right, #fface9, #f837e0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    .reveal-anim {
    animation: reveal 1s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    }


  }

}

  @keyframes reveal {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }

  
}

body {
  background-color: #131313;

  .grain-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.03;
  background-image: url(https://lh3.googleusercontent.com/aida-public/AB6AXuDo1Am-TM_6vvI3G1-v5F8objH6ipuaMWQJ_fZu822IHUYnNQEDStFXsbEvvhQly3RRg_PCRFl4291XCouIzaKm5bVUXdrSROPHf87TYdQ6OtL1BLF2r9gaWsmAtj3N9JGzC6TLSp71_xc8ZrbsRo1O6qVCH9M6y6h5TRb8fSyPmxeeBXbw7BoiAqfAObkEfXWhv7NJSOY0hNgIBNjXDuWWkI9dqIFQZ80-6moPqPgE_cV65PYpCLaBxTYH2FrwTVHWmverinfZPiA);
  }

  /* Custom scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #131313; }
::-webkit-scrollbar-thumb { background: #56404f; border-radius: 10px; }

}
